doctype html
html(lang="en")
    head
        title.
            telegrapher
        link(href='/assets/stylesheets/main.css', rel='stylesheet', type='text/css')
        block scripts
    body
        block content